$maincolor: turquoise;
$font-stack: 'Baloo Bhaina 2', cursive;
$blackborder: solid black;
%horizon-align {
  right: 50%;
  transform: translate(50%,50%);
  position: absolute;
} 

html {
  height: 100%;
}

body { 
  width: 100%;
  min-height: 100%;
  margin: 0;
}

header {
  font-family: $font-stack;
  font-size: 40px;
  color: #E0FFFF;
  background-color: $maincolor;
  height: 70px;
  line-height: 80px;
  text-align: center;
  border: 5px $blackborder;
  border-radius: 1px;
}

// main

main {
  width: 100%;
  height: 624px;
  background-color: lightblue;
}

// forecast

#forecast {
  @extend %horizon-align;
  font-family: $font-stack;
  background-color: $maincolor;
  border: 5px $blackborder;
  border-radius: 10px;
  width: 500px;
  height: 465px;
  bottom: 45%;
}

// form

.form {
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
  input {
    margin-top: 6px;
    height: 38px;
    border: 2px $blackborder;
  };
  button {
    margin-top: 6px;
    height: 43.75px;
    background-color: #AFEEEE;
    border: 2px $blackborder;
    cursor: pointer;
  };
  button:hover {
    background-color: turquoise;
  }
}

// main-data

#main-data {
  flex-wrap: wrap;
  height: 40%;
  width: 100%;
  #city-name {
    font-size: 55px;
    margin: 0;
    height: 35%;
    width: 100%;
    text-align: center;
  };
  #img-cont {
    width: 50%;
    height: 65%;
  };
  img {
    width: 50%;
    height: 100%;
    margin-left: 35%;
  };
  #desc-cont {
    width: 50%;
    height: 65%;
  };
  #desc {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 35px;
  }
}

// data-container

#data-container {
  flex-wrap: wrap;
  list-style-type: none;
  height: 40%;
  width: 100%;
  margin: 0;
  padding: 0 100px 0 116px;
  li {
    width: 40%;
    font-size: 20px;
  };
}

#btn-container {
  height: 10%;
  display: flex;
  justify-content: center;
  button {
    background-color: #AFEEEE;
    margin-top: 4px;
    margin-bottom: 6px;
    height: 36px;
    border: 2px $blackborder;
    cursor: pointer;
    width: 12%;
  };
  button:hover {
    background-color: turquoise;
  }
}
